<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><strong>Profiles</strong></p>
        <a href="http://github.com/slhck">GitHub</a><br>
        <a href="https://www.researchgate.net/profile/Werner_Robitza">ResearchGate</a><br>
        <a href="https://www.mendeley.com/profiles/werner-robitza/">Mendeley</a><br>
        <a href="http://superuser.com/users/48078/slhck">Super User</a><br>
        <a href="https://twitter.com/slhck">Twitter</a><br>
        <a href="http://overtheseaofrains.tumblr.com/">Tumblr</a>
      </div>

      <div class="footer-col footer-col-2">
        <p><strong>Recent Posts</strong></p>
        <ul>
          {% for post in site.posts limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <p><a href="/posts">See more…</a></p>
      </div>
    </div>

  </div>

</footer>
