<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><strong>Recent Posts</strong></p>
        <ul>
          {% for post in site.posts limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <p><a href="/posts">See more…</a></p>
      </div>

      <div class="footer-col footer-col-2">

        <p><strong>Other</strong></p>

        <a href="/legal-notice">Legal Notice</a> | <a href="/impressum">Impressum</a>
      </div>
    </div>

  </div>

</footer>
