---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     40px;

$text-color:       #111;
$background-color: #fff;
// $brand-color:      #226DCF;

$shade-color:      #022B3A;
$brand-color:      lighten($shade-color, 30%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$success-color-bg: #dff0d8;
$warning-color-bg: #fcf8e3;
$error-color-bg:   #f2dede;

$success-color-fg:  darken($success-color-bg, 75%);
$warning-color-fg:  darken($warning-color-bg, 75%);
$error-color-fg:    darken($error-color-bg, 75%);

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.page-content {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    padding: 0;
}

.site-header {
    margin-top: 0px;
    padding-top: $spacing-unit;
    border: none;
    background-color: $shade-color;
    a.page-link, a.site-title {
        color: #fff;
    }
}

.site-footer {
    padding-top: $spacing-unit / 2;
}

a {
    color: lighten($shade-color, 25%);
    &:visited {
        color: lighten($shade-color, 25%);
    }
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('webfonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('webfonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('webfonts/lato-v23-latin-italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('webfonts/lato-v23-latin-italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* andada-pro-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    src: url('webfonts/andada-pro-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('webfonts/andada-pro-v20-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* andada-pro-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Andada Pro';
    font-style: italic;
    font-weight: 400;
    src: url('webfonts/andada-pro-v20-latin-italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('webfonts/andada-pro-v20-latin-italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}