/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  font-size: $base-font-size;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

p {
  font-size: $base-font-size;
  text-align: justify;
}


hr {
    border: 0;
    border-top: 1px solid $grey-color;
    margin-top: $spacing-unit * 1.2;
    margin-bottom: $spacing-unit * 1.2;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight * 1.5;
  line-height: $base-line-height * 0.9 !important;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
}



/**
 * Links
 */
a {
  color: $brand-color;
  font-weight: $base-font-weight * 1.3;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 10%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: $base-font-size;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  color: darken($brand-color, 10%);
  font-size: $base-font-size * 7/8;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  background-color: #f7f7f9;
}

code {
  padding: 1px 2px;
}

pre {
  padding: 10px 10px;
  overflow-x: auto;
  line-height: 1.5 * $base-font-size;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

/**
 * Tables
 */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $grey-color-light;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 1px solid $grey-color-light;
  }

  tbody + tbody {
    border-top: 1px solid $grey-color-light;
  }
}



// td, th {
//   padding: 8px;
//   text-align: left;
//   vertical-align: top;
// }

.table-bordered {
  border: 1px solid $grey-color-light;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid $grey-color-light;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

/**
 * Colors
 */

.success {
  background-color: $success-color-bg;
  color: $success-color-fg;
  p > & {
    padding: 2px;
  }
}

.warning {
  background-color: $warning-color-bg;
  color: $warning-color-fg;
  p > & {
    padding: 2px;
  }
}

.error {
  background-color: $error-color-bg;
  color: $error-color-fg;
  p > & {
    padding: 2px;
  }
}
