/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  margin-top: var(--spacing-md);
  // border-bottom: 1px solid $grey-color-light;
  min-height: 7.5rem;

  // Positioning context for the mobile navigation icon
  position: relative;
}

h1, h2, h3, h4 {
  font-family: "Andada Pro", Garamond, "Times New Roman", sans-serif;
}

.site-title {
  font-family: "Andada Pro", Garamond, "Times New Roman", sans-serif;
  font-size: 1.625rem;
  line-height: 2.25rem;
  letter-spacing: -0.0625rem;
  margin-bottom: 0;
  margin-top: var(--spacing-md);
  margin-left: calc(var(--spacing-xs) / 2);
  float: left;
  width: 12.5rem;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-subtitle {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.625rem;
  letter-spacing: -0.0625rem;
  float: left;
}

.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    padding: calc(var(--spacing-xs) / 2) var(--spacing-xs);

    &.active {
      background-color: $brand-color;
      color: $background-color;
      border: var(--border-width) solid $brand-color;
      border-radius: calc(var(--border-radius-sm) * 1.67);
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: calc(var(--spacing-sm) * 0.625);
    }
  }

  @include media-query($on-palm) {
    // position: absolute;
    // top: 9px;
    // right: $spacing-unit / 2;
    // background-color: $background-color;
    // border: 1px solid $grey-color-light;
    // border-radius: 5px;
    // text-align: right;

    // .menu-icon {
    //   display: block;
    //   float: right;
    //   width: 36px;
    //   height: 26px;
    //   line-height: 0;
    //   padding-top: 10px;
    //   text-align: center;

    //   > svg path {
    //     fill: $grey-color-dark;
    //   }
    // }

    // .trigger {
    //   clear: both;
    //   display: none;
    // }

    // &:hover .trigger {
    //   display: block;
    //   padding-bottom: 5px;
    // }

    .page-link {
      // display: block;
      padding: calc(var(--spacing-xs) * 0.3) calc(var(--spacing-xs) / 2);

      &:not(:last-child) {
        margin-right: 0;
      }
      // margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: var(--border-width) solid $grey-color-light;
  font-size: $base-font-size * 0.8;
  color: $grey-color;
  @extend %clearfix;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
  width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
  text-align: right !important;
}

// @include media-query($on-laptop) {
//   .footer-col-1 {
//     width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//     width:         calc(20% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-2 {
//     width: -webkit-calc(40% - (#{$spacing-unit} / 2));
//     width:         calc(40% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-3 {
//     width: -webkit-calc(30% - (#{$spacing-unit} / 2));
//     width:         calc(30% - (#{$spacing-unit} / 2));
//   }
// }

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 1.25rem;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

.about-image-container {
  width: 75%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: $small-font-size;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 1.875rem;
  letter-spacing: -0.0625rem;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 2.25rem;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 1.75rem;

    @include media-query($on-laptop) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1.5rem;

    @include media-query($on-laptop) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.25rem;

    @include media-query($on-laptop) {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: 1.125rem;

    @include media-query($on-laptop) {
      font-size: 1.125rem;
    }
  }

  .post-footer,
  .post-footer p {
    font-size: 0.75rem;
  }
}
